# --- Archivos de Sistema (Basura) ---
.DS_Store
Thumbs.db
*.log

# --- Python (Si usas scripts backend) ---
__pycache__/
*.pyc

# --- Dependencias y Build ---
node_modules/
dist/
.env

# --- Modelos de IA  ---
# Evita subir los modelos descargados por transformers.js si se guardan localmente
cache/
models/
*.onnx
*.bin